<li class="filmsList_item" data-id="{{id}}">
    <img clas="filmsList-item-img" src="{{poster_path}}" width="272" height="406" alt="first">
    <h2 class="filmsList_item-title">{{original_title}}</h2>
    <ul class="filmsList_decsription-wrapper">
        <li class="filmsList_description-item">{{genre_ids}}</li>
        <li class="filmsList_description-item">{{release_date}} </li>
        <li class="filmsList_item-popular">{{popularity}}</li>
    </ul>
</li>




