 <section class="container details_container">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81qB1pCnBIL._AC_SL1500_.jpg" alt="poster" class = "details_img">
      <div>
      <h4 class="film_name">{{originalTitle}}</h4>
      <p class="details_text">Vote / Votes <span class="vote_info">{{vote}</span> / <span class="votes_info">{{votes}}</span></p>
      <p class="details_text">Popularity <span class="main_info popularity-info">{{popularity}}</span></p>
      <p class="details_text">Original Title<span class="main_info title_info">{{originalTitle}}</span></p>
      <p class="details_text">Genre <span class="main_info genre_info">{{genre}}</span></p>
      <p class="main_info about_info">ABOUT</p>
      <p class="details_description">
       {{details}}
      </p>
      </div>
  </section>