{{!-- {{ <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="poster" class = "details_img">
      <div>
      <h4 class="film_name">{{original_title}}</h4>
      <p class="details_text">Vote / Votes <span class="vote_info">{{vote_average}}</span> / <span class="votes_info">{{vote_count}}</span></p>
      <p class="details_text">Popularity <span class="main_info popularity-info">{{popularity}}</span></p>
      <p class="details_text">Original Title<span class="main_info title_info">
          {{original_title}}
        </span></p>
      <p class="details_text">Genre <span class="main_info genre_info">        {{#each genres}}
            {{this}}
        {{/each}}</span></p>
      <p class="main_info about_info">ABOUT</p>
      <p class="details_description">
       {{overview}}
      </p>
</div>

 --}}


<img src="{{poster_path}}" alt="poster" class="details_img">
<div>
  <h4 class="film_name">{{title}}</h4>
  <p class="details_text">Vote / Votes <span class="vote_info">{{vote_average}}</span> / <span
      class="votes_info">{{vote_count}}</span></p>
  <p class="details_text">Popularity <span class="main_info popularity-info">{{popularity}}</span></p>
  <p class="details_text">Original Title<span class="main_info title_info">
      {{original_title}}
    </span></p>
  <p class="details_text">Genre <span class="main_info genre_info">{{#each genres}}
      {{this}}
      {{/each}}</span></p>
  <p class="main_info about_info">ABOUT</p>
  <p class="details_description">
    {{overview}}
  </p>
  <div class="btn_details_wraper">
    <button class="button_addwatched button_active">Add to watched</button>
    <button class="button_addqueue">Add to queue</button>
  </div>
</div>